.header {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-track:hover {
  background: rgb(206, 206, 206);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.btn {
  margin-right: 1rem;
  background-color: white;
  border: none;
  color: black;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(216, 216, 216);
  color: black;
  font-weight: 500;
}

.btn:focus {
  color: black !important;
  background-color: rgb(216, 216, 216) !important;
  border: none !important;
}

.modal-content {
  border: none;
  border-radius: 0.5rem;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.form-label {
  color: gray;
  font-weight: 500;
}

.form-control {
  border-radius: 0.5rem;
}

.form-control:focus {
  box-shadow: none;
}
